* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 60vh;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    padding: 10px;
    border-radius: 5px;
    position: relative;
    height: 200px;
    width: 350px;
    background-color: rgb(189, 192, 248);
    box-shadow: 1px 1px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    color: rgb(89, 86, 86);
    word-spacing: 5px;
    text-transform: uppercase;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-box input {
    width: 250px;
    border-radius: 5px;
    border: black;
    margin-top: 5px;
    padding: 5px;
    text-indent: 15px;
}

.input-box input:focus {
    background-color: azure;
}


button {
    width: 260px;
    height: 20px;
    border-radius: 5px;
    border: 0;
    background-color: #afeafa;
    box-shadow: 1px 1px 1px black;
    // 字符间距
    letter-spacing: 5px;
    // 箭头样式
    cursor: pointer;

}

.notice {
    word-spacing: normal;
}